.image-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;

}
.dropdown-container{
  display:flex;
  justify-content: flex-start;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;

}
.dropdown-sort {
  display: inline-block;
  width: 50%;
  
  }
  
  .dropdown-filter{
    display: inline-block;
    width: 50%;
  
  
  
  }