.image-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;

}

.dropdown-container{
  display:flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.dropdown-sort {
  display: block;
  width: 50%;
  }
  
  .dropdown-filter{
    display: block;
    width: 50%;
  }