
.image-container-items {
  flex: 1 0 21%;  
  height: 100px ;
  width: 100px; 
  margin: 2px;
  order: 1;
  }
.image-card {
  height: 100px;
  width: 100px; 
  }

.image-container-items-image {
  height: 100%;
  width: 100%; 
  }
